<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Zeon Counter</title>

    <script>
        document.addEventListener('DOMContentLoaded', function (e) {
            new Vue({
                el: '#zeon',
                data: {
                    isEditing: false,
                    turn_number: 0,
                    zeon: 0,
                    rzeon: 0,
                    act: 0,
                    rzeoni: 0,
                    zeona: 0,
                    zeonp: 0,
                    acu: false,
                    lock: 0,
                    spellBook:[],
                    readyToCast:[],
                    spellMantainList:[],
                    zeonToSpend: 0,
                    mantainZeonToSpend: 0,
                    spellName: '',
                    spellBase: '',
                    spellInter: '',
                    spellAdvanced: '',
                    spellArcane: '',
                    spellVia: '',
                    spellBaseMantain: '',
                    spellInterMantain: '',
                    spellAdvancedMantain: '',
                    spellArcaneMantain: '',
                },
                beforeMount() {
                    window.addEventListener("beforeunload", this.preventNav)
                    this.$once("hook:beforeDestroy", () => {
                    window.removeEventListener("beforeunload", this.preventNav);
                    })
                },

                beforeRouteLeave(to, from, next) {
                    if (this.isEditing) {
                    if (!window.confirm("Salir destruirá los datos introducidos")) {
                        return;
                    }
                    }
                    next();
                },
                methods: {
                    preventNav: function(event) {
                        if (!this.isEditing) return
                        event.preventDefault()
                        event.returnValue = ""
                    },
                    addturn: function () {
                        this.turn_number++;
                        if (this.acu) {
                            if (parseInt(this.rzeon) >= parseInt(this.act)) {
                                this.zeona = parseInt(this.zeona) + parseInt(this.act);
                                this.rzeon = parseInt(this.rzeon) - parseInt(this.act);
                            } else {
                                this.zeona = parseInt(this.zeona) + parseInt(this.rzeon);
                                this.rzeon = parseInt(this.rzeon) - parseInt(this.rzeon);
                            }
                        };
                        if (this.spellMantainList.length >= 1) {
                            /*this.spellMantainList.forEach(function (spell) {
                                this.rzeon = parseInt(this.rzeon) - parseInt(spell.spellMantain);
                            }.bind(this));*/
                            this.rzeon = parseInt(this.rzeon) - parseInt(this.mantainZeonToSpend);
                        }
                    },
                    reset: function () {
                        this.turn_number = 0;
                        this.zeona = 0;
                        this.zeonp = 0;
                        this.zeonToSpend = 0;
                        this.readyToCast = [];
                        this.spellMantainList = [];
                    },
                    lockUnlock: function () {
                        this.lock = (this.lock + 1) % 2;
                        this.rzeon = this.zeon;
                    },
                    addSpell: function (e) {
                        if (this.spellName && this.spellBase && this.spellInter && this.spellAdvanced && this.spellArcane) {
                            var new_spell = {
                            spellName:this.spellName,
                            spellBase:this.spellBase,
                            spellInter:this.spellInter,
                            spellAdvanced: this.spellAdvanced,
                            spellArcane: this.spellArcane,
                            spellBaseMantain:this.spellBaseMantain,
                            spellInterMantain:this.spellInterMantain,
                            spellAdvancedMantain: this.spellAdvancedMantain,
                            spellArcaneMantain: this.spellArcaneMantain,
                            spellVia: this.spellVia
                        };
                        this.spellBook.push(new_spell);

                        this.spellName = '';
                        this.spellBase =  '';
                        this.spellInter = '';
                        this.spellAdvanced = '';
                        this.spellArcane = '';
                        this.spellBaseMantain =  '';
                        this.spellInterMantain = '';
                        this.spellAdvancedMantain = '';
                        this.spellArcaneMantain = '';
                        this.spellVia = '';
                        } else {
                            alert("Rellena todos los campos correctamente.");
                        }
                    },
                    removeSpell: function (spell) {
                        let i = this.spellBook.map(item => item.spellName).indexOf(spell);
                        this.spellBook.splice(i, 1);
                    },
                    loadSpell: function (loadSpellName, loadSpellZeon, loadSpellMantain) {
                        var load_spell = {
                            spellIndex: parseInt(this.readyToCast.length) - 1,
                            spellName: loadSpellName,
                            spellZeon: loadSpellZeon,
                            spellMantain: loadSpellMantain,
                            spellMantainTurn: false,
                        };
                        this.zeonToSpend = parseInt(this.zeonToSpend) + parseInt(loadSpellZeon);
                        this.readyToCast.push(load_spell);
                    },
                    unloadSpell: function (unloadSpellIndex, unloadSpellZeon) {
                        let i = this.readyToCast.map(item => item.spellIndex).indexOf(unloadSpellIndex);
                        this.readyToCast.splice(i, 1);
                        this.zeonToSpend = parseInt(this.zeonToSpend) - parseInt(unloadSpellZeon);
                    },
                    unmantainSpell: function (unmantainSpellIndex) {
                        let i = this.spellMantainList.map(item => item.spellIndex).indexOf(unmantainSpellIndex);
                        this.spellMantainList.splice(i, 1);
                        //Revisar                      
                        this.mantainZeonToSpend = 0;
                            this.spellMantainList.forEach(function (spell) {
                                let x = 0;
                                x = spell.spellMantain;
                                this.mantainZeonToSpend = parseInt(this.mantainZeonToSpend) + parseInt(x); 
                            }.bind(this));
                    },
                    castSpell: function () {
                        // Mantenimiento hechizos
                        if (this.spellMantainList.length >=1 ) {
                            let addMantainSpell = this.readyToCast.filter(function (entry) { return entry.spellMantainTurn === true; });
                            if (addMantainSpell.length >= 1) {
                                this.spellMantainList.push(addMantainSpell[0]);
                            }
                            this.mantainZeonToSpend = 0;
                            this.spellMantainList.forEach(function (spell) {
                                let x = 0;
                                x = spell.spellMantain;
                                this.mantainZeonToSpend = parseInt(this.mantainZeonToSpend) + parseInt(x); 
                            }.bind(this));

                        } else {
                            this.spellMantainList = this.readyToCast.filter(function (entry) { return entry.spellMantainTurn === true; });
                            this.mantainZeonToSpend = 0;
                            this.spellMantainList.forEach(function (spell) {
                                this.mantainZeonToSpend = parseInt(this.mantainZeonToSpend) + parseInt(spell.spellMantain); 
                            }.bind(this));
                        }
                        // Gasto Zeon
                        this.zeona = parseInt(this.zeona) - parseInt(this.zeonToSpend);
                        if (parseInt(this.zeona) >= 10) {
                            this.rzeon = parseInt(this.rzeon) + 10;
                            this.zeonp = parseInt(this.zeonp) + (parseInt(this.zeona) - 10)
                            this.zeona = 0;
                        } else {
                            this.rzeon = parseInt(this.rzeon) + parseInt(this.zeona);
                            this.zeona = 0;
                        }
                        this.readyToCast = [];
                        this.zeonToSpend = 0;
                    }
                }
            })
        })
    </script>
</head>
<body>
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-form/0.3.1/vue-form.js"></script>

    
    <div class="container-fluid center" id="zeon">

        <div class="row">

            <div class="col-md-3" style="margin-top:10px;">
                <div class="card" style="width: 100%;">
                    <div id="sg1" class="card-header">
                        Características:
                    </div>
                    <div class="list-group list-group-flush">

                        <div class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="column divide">
                                        <label for="zeon">Zeon máximo: </label>
                                    </div>
                                    <div class="column divide">
                                        <input v-model="zeon" :disabled="lock == 1" class="form-control" style="max-width: 75% !important; display: inline;" type="number" id="zeon" name="zeon" size="6" required>
                                        <button v-on:click="lockUnlock" title="Bloquear Zeon" type="button" class="btn-add"><i data-feather="lock"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="column divide">
                                        <label for="rzeon">Reserva de Zeon: </label>
                                    </div>
                                    <div class="column divide">
                                        <input v-model="rzeon" class="form-control" type="number" id="rzeon" name="rzeon" size="10">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="column divide">
                                        <label for="act">ACT: </label>
                                    </div>
                                    <div class="column divide">
                                        <input v-model="act" class="form-control" type="number" id="act" name="act" required size="10">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="column divide">
                                        <label for="rzeoni">Reg Zeónica: </label>
                                    </div>
                                    <div class="column divide">
                                        <input v-model="rzeoni" class="form-control" type="number" id="reg" name="reg" required size="10">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-6" style="margin-top:10px;">

                <div class="row">

                    <div style="flex:70%; margin:10px;">
                        <table class="table table-striped" >
                            <thead>
                            <tr>
                                <th scope="col" colspan="6" style="text-align: center;">Lista de hechizos</th>
                                
                            </tr>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th>Base</th>
                                <th>Intermedio</th>
                                <th>Avanzado</th>
                                <th>Arcano</th>
                                <th>Modificar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in spellBook" >
                                <th scope="row">{{ item.spellName }}</th>

                                <td v-if="parseInt(item.spellBase) <= parseInt(zeona)"><button v-on:click="loadSpell(item.spellName, item.spellBase, item.spellBaseMantain)" title="Cargar" type="button" class="btn btn-primary" :value="item.spellBase">{{ item.spellBase }}</button><span v-if="item.spellBaseMantain"> M: {{item.spellBaseMantain}}</span></td>
                                <td v-else title="Zeon insuficiente"><button type="button" class="btn btn-secondary" :value="item.spellBase" disabled>{{ item.spellBase }}</button><span v-if="item.spellBaseMantain"> M: {{item.spellBaseMantain}}</span></td>

                                <td v-if="parseInt(item.spellInter) <= parseInt(zeona)"><button v-on:click="loadSpell(item.spellName, item.spellInter, item.spellInterMantain)" title="Cargar" type="button" class="btn btn-primary" :value="item.spellInter">{{ item.spellInter }}</button><span v-if="item.spellInterMantain"> M: {{item.spellInterMantain}}</span></td>
                                <td v-else title="Zeon insuficiente"><button type="button" class="btn btn-secondary" :value="item.spellInter" disabled>{{ item.spellInter }}</button><span v-if="item.spellInterMantain"> M: {{item.spellInterMantain}}</span></td>

                                <td v-if="parseInt(item.spellAdvanced) <= parseInt(zeona)"><button v-on:click="loadSpell(item.spellName, item.spellAdvanced, item.spellAdvancedMantain)" title="Cargar" type="button" class="btn btn-primary" :value="item.spellAdvanced">{{ item.spellAdvanced }}</button><span v-if="item.spellAdvancedMantain"> M: {{item.spellAdvancedMantain}}</span></td>
                                <td v-else title="Zeon insuficiente"><button type="button" class="btn btn-secondary" :value="item.spellAdvanced" disabled>{{ item.spellAdvanced }}</button><span v-if="item.spellAdvancedMantain"> M: {{item.spellAdvancedMantain}}</span></td>

                                <td v-if="parseInt(item.spellArcane) <= parseInt(zeona)"><button v-on:click="loadSpell(item.spellName, item.spellArcane, item.spellArcaneMantain)" title="Cargar" type="button" class="btn btn-primary" :value="item.spellArcane">{{ item.spellArcane }}</button><span v-if="item.spellArcaneMantain"> M: {{item.spellArcaneMantain}}</span></td>
                                <td v-else title="Zeon insuficiente"><button type="button" class="btn btn-secondary" :value="item.spellArcane" disabled>{{ item.spellArcane }}</button><span v-if="item.spellArcaneMantain"> M: {{item.spellArcaneMantain}}</span></td>
                                
                                <td><button type="button" v-on:click="removeSpell(item.spellName)" class="btn-add" title="Eliminar"><i data-feather="x-circle" style="color: #9b0000 !important;"></i></button></td>
                            </tr>
                            <tr>
                                <th scope="row"><input v-model="spellName" placeholder="Hechizo" class="form-control" type="text" id="name" name="name" size="10" required></th>
                                <td>
                                    <input v-model="spellBase" title="Zeon" placeholder="60" class="form-control zeon-mantain" type="number" id="base" name="base" size="2" required>
                                    <input v-model="spellBaseMantain" title="Mantenimiento" placeholder="10" class="form-control zeon-mantain" type="number" id="basemantain" name="basemantain" size="2">
                                </td>
                                <td>
                                    <input v-model="spellInter" title="Zeon" placeholder="100" class="form-control zeon-mantain" type="number" id="inter" name="inter" size="2" required>
                                    <input v-model="spellInterMantain" title="Mantenimiento" placeholder="10" class="form-control zeon-mantain" type="number" id="intermantain" name="basemantain" size="2">
                                </td>
                                <td>
                                    <input v-model="spellAdvanced" title="Zeon" placeholder="150" class="form-control zeon-mantain" type="number" id="advanced" name="advanced" size="2" required>
                                    <input v-model="spellAdvancedMantain" title="Mantenimiento" placeholder="15" class="form-control zeon-mantain" type="number" id="advancedmantain" name="basemantain" size="2">
                                </td>
                                <td>
                                    <input v-model="spellArcane" title="Zeon" placeholder="250" class="form-control zeon-mantain" type="number" id="arcane" name="arcane" size="2" required>
                                    <input v-model="spellArcaneMantain" title="Mantenimiento" placeholder="25" class="form-control zeon-mantain" type="number" id="arcanemantain" name="arcanemantain" size="2">
                                </td>
                                <td><button type="button" v-on:click="addSpell" class="btn-add" title="Añadir"><i data-feather="plus-circle" style="color: green !important;"></i></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

            <div class="col-md-3" style="margin-top:10px;">

                <div class="row">
                    <div class="card">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <div id="turn" class="row">
                                    <div class="column" style="flex:40%">
                                        <div style="text-align: center;">
                                            <h2 style="display:inline;">Turno: {{turn_number}}</h2>
                                        </div>
                                    </div>
                                    <div class="column" style="flex:10%">
                                        <button v-on:click="addturn" title="Pasar turno" id="add-turn" type="button" class="btn btn-success">+1</button>
                                    </div>
                                    <div class="column" style="flex:10%">
                                        <button v-on:click="reset" title="Reiniciar turno" type="button" class="btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="flex: 25%; padding-left: 0 !important;">
                    <div class="card" >
                        <div class="list-group list-group-flush">

                            <div class="list-group-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="column">
                                            <label for="zeona">Zeon acumulado: </label>
                                        </div>
                                        <div class="column">
                                            <input v-model="zeona" class="form-control" type="number" id="zeona" name="zeona" required size="10">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="column">
                                            <label for="zeonp">Zeon perdido: </label>
                                        </div>
                                        <div class="column">
                                            <input v-model="zeonp" class="form-control" type="number" id="zeonp" name="zeonp" required size="10">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <div class="container">
                                    <div class="row">
                                        <div class="column divide" style="max-width: 49%;">
                                            <label for="acu">Acumular: </label>
                                        </div>
                                        <div class="column divide">
                                            <input v-model="acu" class="form-check-input" type="checkbox" id="acu" name="acu">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div>
                        <table class="table">
                            <thead>
                                <tr><th scope="col" colspan="4" style="text-align: center;">Hechizos a lanzar:</th></tr>
                                <tr>
                                  <th scope="col">Nombre</th>
                                  <th scope="col">Zeon</th>
                                  <th scope="col">Mantener</th>
                                  <th scope="col">Quitar</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  v-for="item in readyToCast">
                                  <th scope="row">{{ item.spellName }}</th>
                                  <td>{{ item.spellZeon }}</td>
                                  <td v-if="item.spellMantain"><input v-model="item.spellMantainTurn" title="Mantener" class="form-check-input" type="checkbox" id="mantain" name="mantain" size="2"> <span>/ {{item.spellMantain}}</span></td>
                                  <td v-else><input v-model="item.spellMantainTurn" title="Mantener" class="form-check-input" type="checkbox" id="mantain" name="mantain" size="2" disabled></td>
                                  <td><button class="btn-add" type="button" v-on:click="unloadSpell(item.spellIndex, item.spellZeon)" title="Eliminar"><i data-feather="trash-2" style="color: #9b0000 !important;"></i></button></td>
                                </tr>
                                <tr v-if="parseInt(this.zeonToSpend) <= parseInt(this.zeona)">
                                    <th scope="row">Total: </th>
                                    <td colspan="3">{{ this.zeonToSpend }}</td>
                                </tr>
                                <tr v-else>
                                    <th scope="row" style="color:#9b0000">Total: </th>
                                    <td colspan="3" style="color:#9b0000">{{ this.zeonToSpend }}</td>
                                </tr>
                                <tr v-if="parseInt(this.zeonToSpend) <= parseInt(this.zeona)">
                                    <th scope="row" colspan="4"><button v-on:click="castSpell()" class="btn btn-primary" style="width: 100%;">Lanzar</button></th>
                                </tr>
                                <tr v-else>
                                    <th scope="row" colspan="4" title="Zeon insuficiente"><button class="btn btn-primary" style="width: 100%;" disabled>Lanzar</button></th>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                    <div v-if="this.spellMantainList.length >= 1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="3" style="text-align: center;">Hechizos mantenidos:</th>
                                </tr>
                                <tr>
                                  <th scope="col">Nombre</th>
                                  <th scope="col">Zeon / turno</th>
                                  <th scope="col">Dejar de mantener</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr  v-for="item in spellMantainList">
                                  <th scope="row">{{ item.spellName }}</th>
                                  <td>{{ item.spellMantain }}</td>
                                  <td><button class="btn-add" type="button" v-on:click="unmantainSpell(item.spellIndex)" title="Eliminar"><i data-feather="trash-2" style="color: #9b0000 !important;"></i></button></td>
                                </tr>
                                <tr>
                                    <th scope="row">Zeon / turno: </th>
                                    <td colspan="3">{{ this.mantainZeonToSpend }}</td>
                                </tr>
                              </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>
        feather.replace()
    </script>
</body>
</html>