html body {
    background: url(images/background.jpeg) no-repeat, url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png) #f9f9f9;
    background-size: auto;
}

.container-fluid {
    padding-right: 10% !important;
    padding-left: 10% !important;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.divide {
    flex: 48% !important;
    margin: 10px 0px;
}

.zeon-mantain {
  display: inline !important;
  width: 45% !important;
}

.btn-add, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* REMOVE ARROWS INPUT NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}